// colors
$colors:(
  "primary":#db9e3f,
  "white":#fff,
  'home-border':#d4d9de,
  'home_swiper':#4b67af,
  "light":#f1f1f1,
  "light_1":#f9f9f9,
  "black":#000,
  "dark":#666,
  "gary":#999,
  "dark_1":#222,
  "gary-1":#343440,
  'blue':#4394e4,

  'red':#791a16,
  'green':#36362f,
  'blue_1':#9ea5cd,
  'info':#805300

);
$border-color:map-get($colors, 'light' );
$home-borders:map-get($colors, 'home-border' );
// font
$font-base-size:1rem;
$font-sizes:(
  'xxs':0.6154,
  'xs':0.7692, //10px
  'ms':0.9231, //12px
  'm':1, //13px
  'l':1.0769, //14px
  'xl':1.2308 //16px
);

// jc: justify-content
$flex-jc:(
  'start':flex-start,
  'end':flex-end,
  'center':center,
  'between':space-between,
  'space':space-around
);
// ai :align-item
$flex-ai:(
  'start':flex-start,
  'end':flex-end,
  'center':center,
  'baseline':baseline ,
  'stretch':stretch
);
//space
// mt-1:1rem => margin-top:1rem
$spasing-mp:(
  'm':margin,
  'p':padding
);
$spasing-derection:(
  'l':left,
  'r':right,
  't':top,
  'b':bottom
);
$spacing-base-size:1rem;
$sapcing-sizes:(
  '0':0,
  '1':0.25,
  '2':0.5,
  '3':1,
  '4':1.5,
  '5':3
);
