// reset
@import './varible.scss';
* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 13px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #999;
}
p {
  line-height: 1.5em;
};

@each $colorkey,$color in $colors {
  .bg-#{$colorkey}{
    background-color:$color ;
  }
  .text-#{$colorkey}{
    color:$color ;
  }
};
// text
@each $var in (left,right,center) {
  .text-#{$var}{
    text-align: $var !important;
  }
}
@each $fontkey,$font-size in $font-sizes {
  .fs-#{$fontkey}{
    font-size:$font-size *$font-base-size
  }
};
.d-flex{
  display: flex;
};
@each $key,$value in $flex-jc {
  .jc-#{$key}{
    justify-content:$value ;
  }
};
@each $key,$value in $flex-ai {
  .ai-#{$key}{
    align-item:$value ;
  }
};
.flex-column{
  flex-direction:column
}
.flex-1 {
  flex:1;
};
.flex-grow-1{
  flex-grow: 1;
};
.flex-wrap{
  flex-wrap: wrap;
}

@each $mpkey,$mp in $spasing-mp {
  //margin-top:1rem
  @each $derectionkey,$derection in $spasing-derection{
    @each $sizekey,$size in $sapcing-sizes{
      .#{$mpkey}#{$derectionkey}-#{$sizekey}{
        #{$mp}-#{$derection} : $size *$spacing-base-size
      }
    }
  }
  // margin:1rem
  @each $sizekey,$size in $sapcing-sizes{
    .#{$mpkey}-#{$sizekey}{
      #{$mp}: $size *$spacing-base-size
    }
  }
   // margin-left:1rem
   @each $sizekey,$size in $sapcing-sizes{
    .#{$mpkey}x-#{$sizekey}{
      #{$mp}-left: $size *$spacing-base-size;
      #{$mp}-right: $size *$spacing-base-size
    }
  }
  // margin-top:1rem
  @each $sizekey,$size in $sapcing-sizes{
    .#{$mpkey}y-#{$sizekey}{
      #{$mp}-top: $size *$spacing-base-size;
      #{$mp}-bottom: $size *$spacing-base-size
    }
  }
};
.btn{
  border: none;
  border-radius: 0.1538rem;
  font-size: map-get($font-sizes, 'ms')*$font-base-size;
  padding: 0.3rem 0.6rem;
  height: 2rem;
};
//nav
.nav {
  .nav_item {
    border-bottom:3px solid transparent;
    padding-bottom: 0.2rem;
    &.active{
      color: map-get($colors, 'primary');
      border-bottom:3px solid map-get($colors, 'primary');
    }
  };
  &.nav_main{
    .nav_item {
      border-bottom:3px solid transparent;
      padding-bottom: 0.2rem;
      color: map-get($colors, 'white');
      &.active{
        border-bottom:3px solid map-get($colors, 'white');
      }
    }
  }
}
// sprite
.sprite{
  background: url(./../images/index.png) no-repeat 0 0;
  background-size: 28.8462rem;
  display: inline-block;
  &.sprite-items{
    width: 1.7692rem;
    height: 1.8rem;
    &.sprite-news{
      background-position: 63.546% 15.517%;
    }
    &.sprite-story{
      background-position: 90.483% 15.614%;
    }
    &.sprite-shops{
      background-position: 36.746% 0.924%;
    }
    &.sprite-feeling{
      background-position:10.408% 15.517%;
    }
    &.sprite-newPerson{
      background-position: 89.733% 1.266%;
    }
    &.sprite-honer{
      background-position: 36.467% 15.287%;
    }
    &.sprite-files{
      background-position: 9.302% 0.813%;
    }
    &.sprite-kings{
      background-position:63.3% 0.927%;
    }
    &.sprite-wechat{
      background-position: 0 96.207%;
    }
    &.sprite-version{
      background:url(../images/version-icon.png) no-repeat 0 0;
      background-size:1.6154rem;
    }
    &.sprite-govr{
      background:url(../images/djhj.png) no-repeat 0 0;
      background-size:1.6154rem;
    }
    &.sprite-team{
      background:url(../images/wxwzt.png) no-repeat;
      background-size:1.6154rem;
    }
    &.sprite-idea{
      background:url(../images/cyhdy.png) no-repeat 0 0;
      background-size:1.6154rem;
    }
    &.sprite-slow{
      width: 0.7692rem;
      height: 0.7692rem;
      background-position:38.577% 52.076%;
    }
  }
}


